@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Sub Nunito";
  src: url("fonts/Nunito-ExtraLight.ttf");
}

:root {
  background-color: #11111b;
  font-family: "Nunito", "Georgia", "Helvetica";
}

.title {
  font-family: "Nunito", "Georgia", "Helvetica";
  font-size: 40px;
  color: #89b4fa;
}

.subtitle {
  font-family: "Sub Nunito", "Georgia", "Helvetica";
  font-size: 25px;
  color: #74c7ec;
  text-decoration-color: #1e1e2e;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.left-float {
  margin-top: 100px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
}

.right-float {
  margin-top: 120px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 700px;
}

.far-right-float {
  margin-top: 120px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1300px;
}

.button {
  display: flex;
  background-color: #1e1e2e;
  border-style: hidden;
  border-radius: 4px;
  padding: 5px;
  font-size: 17px;
  margin-top: 10px;
  text-decoration-style: none;
  color: #a6e3a1;
  width: fit-content;
}

.button:hover {
  background-color: #181825;
}

.tools {
  display: flex;
  flex-direction: row;
}

.tools-subitem {
  display: inline-flex;
  border-style: hidden;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin-left: 5px;
}
.tools-subitem:hover {
  cursor: pointer; /* the links are configured in typescript because im too lazy to add <a> elements for each div, this makes it visible that the divs are clickable */
}

.tools-subitem-img {
  size: inherit;
}

.project {
  background-color: #1e1e2e;
  border-style: hidden;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

.project:hover {
  background-color: #181825;
}
.project-link {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.post {
  background-color: #1e1e2e;
  border-style: hidden;
  border-radius: 10px;
  padding: 5px;
  width: 370px;
}
.post:hover {
  background-color: #181825;
}
.post-link {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.topbar {
  position:fixed;
  display:flex;
  align-items:center;
  width:100%;
  height: 50px;
  top:0px;
  left:0px;
  background-color: #181825;
}
.topbar-left {
  display: inherit;
  width:50%;
  padding-left: 10px;
}
.topbar-right {
  display: flex;
  width:50%;
  padding-right:10px;
  justify-content: flex-end;
}
.topbar-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color:#cdd6f4;
  display:flex;
}
.topbar-link {
  color:#cdd6f4;
}
.topbar-link:hover {
  text-decoration:wavy;
  text-decoration-line: underline;
  text-decoration-color: #cdd6f4;
}
hr {
  color: #cdd6f4;
}

h2 {
  font-family: "Nunito", "Georgia", "Helvetica";
  color: #cdd6f4;
  font-size: 30px;
}

p {
  font-family: "Sub Nunito", "Georgia", "Helvetica";
  font-size: 20px;
  color: #cdd6f4;
}

a {
  text-decoration: none;
  font-family: "Nunito", "Georgia", "Helvetica";
}
